.App {
  text-align: center;
}

.App-logo, .App-logo2 {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    animation: App-logo-spin infinite alternate-reverse 20s linear;
    border-radius: 300px;  
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    /* animation: App-logo-spin infinite 20s linear; */
    animation: App-logo2-spin infinite alternate-reverse 20s linear;
    border-radius: 300px;  
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes App-logo2-spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.imagens{
  justify-items: auto;
}

.cotacao {
  height: auto;
  color: rgb(230, 176, 1);
  /* animation:  App-logo-spin infinite 55s alternate; */
  background-color: #282c34;
  
}


